Azure_ACR_Credentials.json
Azure_SP.json
config.yml
notebooks/
logs/
MLOPS_PROJECT_NINE.egg-info/
DeployAzure_Notes.md/
.git
.github
Dockerfile
.dockerignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/